@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

$font-family-content: 'Barlow Condensed';
$font-family-title: 'Yanone Kaffeesatz';
$font-family-code: 'Ubuntu Mono';

$orange-color: #d89f39;
$blue-color: #3a81ba;
$green-color: #8bab42;
$silver-color: #272822;
$light-silver-color: #777872;
$black-color: #000000;
$white-color: #FFFFFF;
$red-color: #e53935;

body {
  font-family: $font-family-content;
}

h1, h2, h3 {
  font-family: $font-family-title;
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: $font-family-code; }

.main-title, .subtitle-1, .subtitle-2, .subtitle-3, .common-content {
  font-size: 1.7em;
  font-weight: light;
}

.subtitle-silver {
  background: $silver-color;
  color: $light-silver-color;
  text-shadow: 0 0 20px #333;
}

.subtitle-orange {
  background: $orange-color url('../public/assets/tw-logo.png') no-repeat 95% 5%;
  color: $black-color;
}

.subtitle-green {
  background: $green-color url('../public/assets/tw-logo.png') no-repeat 95% 5%;
  color: $black-color;
}

.subtitle-blue {
  background: $blue-color url('../public/assets/docker-logo.png') no-repeat 95% 5%;
  color: $white-color;
}

.subtitle-red {
  background: $red-color url('../public/assets/tw-logo.png') no-repeat 95% 5%;
  color: $white-color;
}

.common-content {
  background: $white-color url('../public/assets/docker-logo.png') no-repeat 95% 5%;
}

.content-source {
  font-size: 12px;
  font-style: oblique;
  font-weight: bold;
}

.key-word {
  font-family: $font-family-title;
  font-weight: normal;
  color: white;
  font-size: 2.5em;
  padding: 5px;
  background: $silver-color;
  display: inline-grid;
}

.normal-word {
  font-family: $font-family-title;
  font-weight: normal;
  color: white;
  font-size: 2.5em;
  padding: 5px;
  background: $blue-color;
  display: inline-grid;
}

table.images td {
  border: 1px solid #ffffff;
}

.half_image {
  max-height: 500px;
  max-width: 500px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.standout-word {
  background: $green-color;
  display: inline-grid;
}
